<div class="container-fluid px-0">
  <div class="jumbotron jumbotron-fluid landing-cover d-flex justify-content-center align-items-center">
    <div class="container text-center">
      <div class="landing-title p-2 shadow">
        <h1>WatchList</h1>
          <p>Explore movie lists or create your own...</p>
      </div>
    </div>
  </div>
  <div class="row mx-4">
    <div class="col text-center">
      <h1>Movie lists</h1>
      <div class="row justify-content-center">
      <% @lists.each do |list| %>
        <div class="col-sm-12 col-md-6">
          <div class="card shadow mb-3">
            <div class="card-body">
            <% if list.photo.attached?%>
              <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill, class: 'card-img-top' %>
            <% end %>
              <h2 class="card-title"><%= link_to list.name, list_path(list) %></h2>
            </div>
          </div>
        </div>
      <% end %>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6 my-5 border py-5">
          <h3>Don't see anything you like? Create your own list!</h3>
          <%= link_to 'Create new list', new_list_path(), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</div>
