.landing-cover {
  background-image: asset_url("cinema-landing.jpg") !important;
  opacity: 0.9;
  background-size: cover !important;
  height: 50vh;
  color: white;
  opacity: 0.9;
}

.landing-title {
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid white;
}
